<div class="NewsBlog">
  <img [src]="NewsContent?.img" alt="">
<p class="TextHeader_NewsBlog">{{NewsContent?.Header}}</p>
<p class="TextMain_NewsBlog">{{NewsContent?.Text}}</p>
<div class="ContainerDown_NewsBlog">
  <div class="ContainerDown_NewsBlog_left">
    <p class="NewsBlog_date">{{NewsContent?.date}}</p>
    <div class="circle_ContainerDown">

    </div>
    <p class="NewsBlog_Subject">{{NewsContent?.Subject}}</p>
  </div>
  
<p class="NewsContent_Action">{{NewsContent?.Action}}</p>
</div>
</div>