.main{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;

}
.tesss{
    color: red;
}
.app-navigation{
    display: block;
}
.ContentRight{
    width: 700px;
}
