<nav class="nav">
  <ul class="nav_menu_list">
    <a class="Golobal">
      <li class="nav_menu_text"   routerLink="/"><a href=""  routerLink="/">Главная</a></li>
    </a>
    <li class="nav_menu_text_list">
     <a href="" >Статьи</a>  <img class="nav_menu_strelka" src="src\img\strelka.svg" alt="" />
      <ul class="nav_menu_list2">
        <li><a class="nav_menu_link" href="">Создание сайтов</a></li>
        <li><a class="nav_menu_link" href="">Интернет-маркетинг</a></li>
        <li><a class="nav_menu_link" href="">Продвижение видео</a></li>
      </ul>
    </li>
    <li class="nav_menu_text"   routerLink="/Admin"><a href="">Обо мне</a></li>
    <li class="nav_menu_text" routerLink="/Advertising"><a href="" routerLink="/Advertising">Реклама</a></li>
  </ul>
  <div class="Nav_seach">
    <p class="Nav_Profil" routerLink="/Profile">Профиль</p>
    <input class="nav_Search_input" placeholder="Поиск по блогу" type="text" />
  </div>
</nav>
